html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  // Monospace is listed twice to prevent the browser from reducing the size of monospace.
  // See https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966
  font-family: monospace, monospace;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

button {
  font-size: 2em;
}

button:not(:disabled) {
  cursor: pointer;
}

details summary {
  cursor: pointer;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.warning {
  background-color: #ffeb3b;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.error {
  color: #fff;
  background-color: #f44336;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}
