.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* TODO Why position:relative? Shouldn't this be justify-content:center ? */
  position: relative;

  .options {
    display: flex;
    flex-direction: column;
  }

  a,
  button {
    font-size: 3rem;
    margin: 5px;
  }

  .status {
    font-size: 2rem;
  }
}
