@use "./base";
@use "./board";
@use "./coordinate";
@use "./disconnected";
@use "./game-over";
@use "./game-page";
@use "./home-page";
@use "./loader";
@use "./loading";
@use "./menu";
@use "./panic";
@use "./piece";
@use "./players";
@use "./room-name";
@use "./rules-page";
@use "./screen";
@use "./senet-header";
@use "./signaling-page";
@use "./speech";
@use "./square";
@use "./stick";
@use "./sticks";
@use "./top-bar";
@use "./who-goes-first-page";
