html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  // Monospace is listed twice to prevent the browser from reducing the size of monospace.
  // See https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966
  font-family: monospace, monospace;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

button:not(:disabled) {
  cursor: pointer;
}

details summary {
  cursor: pointer;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.warning {
  background-color: #ffeb3b;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.error {
  color: #fff;
  background-color: #f44336;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

/* Based on https://instance-factory.com/?p=2083 */
:root {
  --color-link: rgb(0, 0, 238);

  /*
	line left
	line right
	line bottom
	line top
	arrow left
	arrow right
	arrow diagonal
	*/
  --icon-external-link: url('data:image/svg+xml,\
	<svg class="external-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> \
		<g style="stroke:rgb(0,0,238);stroke-width:1"> \
			<line x1="5" y1="5" x2="5" y2="14" /> \
			<line x1="14" y1="9" x2="14" y2="14" /> \
			<line x1="5" y1="14" x2="14" y2="14" /> \
			<line x1="5" y1="5" x2="9" y2="5"  /> \
			<line x1="10" y1="2" x2="17" y2="2"  /> \
			<line x1="17" y1="2" x2="17" y2="9" /> \
			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> \
		</g> \
	</svg>');

  --icon-external-visited: url('data:image/svg+xml,\
	<svg class="external-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> \
		<g style="stroke:rgb(85,26,139);stroke-width:1"> \
			<line x1="5" y1="5" x2="5" y2="14" /> \
			<line x1="14" y1="9" x2="14" y2="14" /> \
			<line x1="5" y1="14" x2="14" y2="14" /> \
			<line x1="5" y1="5" x2="9" y2="5"  /> \
			<line x1="10" y1="2" x2="17" y2="2"  /> \
			<line x1="17" y1="2" x2="17" y2="9" /> \
			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> \
		</g> \
	</svg>');
}

a[target="_blank"]::after {
  content: "";
  background: no-repeat var(--icon-external-link);
  padding-right: 1em;
}

a[target="_blank"]:visited:after {
  content: "";
  background: no-repeat var(--icon-external-visited);
  padding-right: 1em;
}

:link {
  color: #0000ee;
}

:visited {
  color: rgb(85, 26, 139);
}
