html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  // Monospace is listed twice to prevent the browser from reducing the size of monospace.
  // See https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966
  font-family: monospace, monospace;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

// Based on https://css-tricks.com/snippets/css/orientation-lock/
html.rotated {
  transform: rotate(-90deg);
  transform-origin: left top;
  width: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}

button:not(:disabled) {
  cursor: pointer;
}
