.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .top-bar {
    max-width: 1200px;
  }

  .board {
    flex: 1 0 100px;
    max-width: 1200px;
    max-height: 360px;
  }

  .sticks {
    flex: 0 1 100px;
    max-width: 1200px;
  }
}
