.players {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.player {
  display: flex;
  height: 2rem;
  min-width: 30%;
  align-items: center;
  justify-content: space-around;

  .points {
    width: auto;
    height: 100%;
  }
}

.player.player-0 {
  background-color: rgb(204, 255, 253);
}

.player.player-1 {
  background-color: rgb(248, 206, 204);
}
