@use "./vars" as vars;

// Based on https://projects.verou.me/bubbly/
.speech-bubble {
  position: absolute;
  border-radius: 0.4em;
  top: 2.5rem;
  min-height: 2rem;
  padding: 5px;
  z-index: vars.$z-index-speech-bubble;
  text-align: center;

  .icon.blocking,
  .icon.no-move,
  .icon.protected,
  .icon.return-to-start {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-top: 0;
  margin-left: -0.5rem;
  margin-top: -1rem;
}

.speech-bubble.closed,
.speech-bubble.closed * {
  visibility: hidden !important;
}

.spoken > * {
  visibility: hidden;
  animation-name: spoken-words;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes spoken-words {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
