.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.game-modes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-mode {
  font-size: 3rem;
  margin: 5px;
}
